<?xml version="1.0"?>
<robot xlmns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:property name="l00" value="link_base"/>
    <xacro:property name="l01" value="link_01"/>
    <xacro:property name="l02" value="link_02"/>
    <xacro:property name="l03" value="link_03"/>
    <xacro:property name="l04" value="link_04"/>
    <xacro:property name="l05" value="link_05"/>
    <xacro:property name="l06" value="link_06"/>
</robot>