<launch>

    <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find arm_description)/urdf/arm_description.xacro'" />

    <!--combine joint values-->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

    <!--show in rviz-->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find arm_description)/launch/config.rviz"/>
    
    <!--send joint values-->
    <!--version >= noetic: use "joint_state_publisher_gui" instead of "joint_state_publisher"-->
    <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui">
        <param name="use_gui" value="True" />
    </node>
    <!--version < noetic: use "joint_state_publisher_gui" instead of "joint_state_publisher"
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
        <param name="use_gui" value="True" />
    </node>
-->

</launch>